body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1772px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:466px;
}
#u2877 {
  position:absolute;
  left:66px;
  top:592px;
  width:793px;
  height:466px;
}
#u2878 {
  position:absolute;
  left:2px;
  top:225px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  -webkit-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2879 {
  position:absolute;
  left:127px;
  top:767px;
  width:139px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2880 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u2881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:56px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  -webkit-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2881 {
  position:absolute;
  left:127px;
  top:821px;
  width:139px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2882 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u2883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:56px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(21, 91, 255, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  -webkit-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2883 {
  position:absolute;
  left:355px;
  top:767px;
  width:138px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2884 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:56px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(21, 91, 255, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  -webkit-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2885 {
  position:absolute;
  left:355px;
  top:821px;
  width:138px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2886 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  -webkit-box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2887 {
  position:absolute;
  left:266px;
  top:765px;
  width:89px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2888 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  word-wrap:break-word;
}
#u2889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  -webkit-box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2889 {
  position:absolute;
  left:266px;
  top:821px;
  width:89px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2890 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  word-wrap:break-word;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2891 {
  position:absolute;
  left:516px;
  top:754px;
  width:88px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2892 {
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:190px;
  height:71px;
}
#u2893 {
  position:absolute;
  left:126px;
  top:703px;
  width:184px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u2894 {
  position:absolute;
  left:2px;
  top:13px;
  width:180px;
  word-wrap:break-word;
}
#u2895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2895 {
  position:absolute;
  left:516px;
  top:819px;
  width:88px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2896 {
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u2897_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:190px;
  height:71px;
}
#u2897 {
  position:absolute;
  left:310px;
  top:703px;
  width:184px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u2898 {
  position:absolute;
  left:2px;
  top:13px;
  width:180px;
  word-wrap:break-word;
}
#u2899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u2899 {
  position:absolute;
  left:674px;
  top:754px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u2900 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:140px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#33CC33;
}
#u2901 {
  position:absolute;
  left:117px;
  top:901px;
  width:687px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#33CC33;
}
#u2902 {
  position:absolute;
  left:2px;
  top:62px;
  width:683px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u2903 {
  position:absolute;
  left:467px;
  top:923px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u2904 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:21px;
}
#u2905 {
  position:absolute;
  left:414px;
  top:619px;
  width:379px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2906 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2907 {
  position:absolute;
  left:95px;
  top:2px;
  width:32px;
  height:32px;
  color:#5E5E5E;
}
#u2908 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#33CC33;
}
#u2909 {
  position:absolute;
  left:126px;
  top:922px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#33CC33;
}
#u2910 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u2911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#33CC33;
}
#u2911 {
  position:absolute;
  left:240px;
  top:923px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#33CC33;
}
#u2912 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FF0000;
}
#u2913 {
  position:absolute;
  left:353px;
  top:924px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FF0000;
}
#u2914 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u2915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2915 {
  position:absolute;
  left:736px;
  top:973px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2916 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2917 {
  position:absolute;
  left:736px;
  top:908px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2918 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2919 {
  position:absolute;
  left:738px;
  top:754px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2920 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 225, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0096E1;
}
#u2921 {
  position:absolute;
  left:610px;
  top:754px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0096E1;
}
#u2922 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 150, 225, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2923 {
  position:absolute;
  left:610px;
  top:703px;
  width:60px;
  height:43px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2924 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2925 {
  position:absolute;
  left:674px;
  top:703px;
  width:60px;
  height:43px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2926 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2927 {
  position:absolute;
  left:738px;
  top:703px;
  width:60px;
  height:43px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2928 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u2929 {
  position:absolute;
  left:674px;
  top:819px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u2930 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2931 {
  position:absolute;
  left:738px;
  top:819px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2932 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 225, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0096E1;
}
#u2933 {
  position:absolute;
  left:610px;
  top:819px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0096E1;
}
#u2934 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:74px;
  height:74px;
}
#u2935 {
  position:absolute;
  left:486px;
  top:941px;
  width:64px;
  height:64px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u2938 {
  position:absolute;
  left:662px;
  top:973px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u2939 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:53px;
  height:53px;
}
#u2940 {
  position:absolute;
  left:671px;
  top:980px;
  width:43px;
  height:43px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u2943 {
  position:absolute;
  left:662px;
  top:909px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u2944 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2945 {
  position:absolute;
  left:672px;
  top:919px;
  width:40px;
  height:40px;
}
#u2946 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u2947 {
  position:absolute;
  left:741px;
  top:978px;
  width:50px;
  height:50px;
}
#u2948 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:466px;
}
#u2949 {
  position:absolute;
  left:979px;
  top:592px;
  width:793px;
  height:466px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:225px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  -webkit-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2951 {
  position:absolute;
  left:1042px;
  top:767px;
  width:139px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2952 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:57px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  -webkit-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2953 {
  position:absolute;
  left:1042px;
  top:823px;
  width:139px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2954 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u2955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:57px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(21, 91, 255, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  -webkit-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2955 {
  position:absolute;
  left:1270px;
  top:767px;
  width:138px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2956 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:57px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(21, 91, 255, 1);
  border-radius:0px;
  -moz-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  -webkit-box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  box-shadow:3px 3px 3px rgba(201, 201, 201, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2957 {
  position:absolute;
  left:1270px;
  top:823px;
  width:138px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#515151;
}
#u2958 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:57px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  -webkit-box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2959 {
  position:absolute;
  left:1181px;
  top:766px;
  width:89px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2960 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:57px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(81, 81, 81, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  -webkit-box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  box-shadow:2px 2px 3px rgba(188, 188, 188, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2961 {
  position:absolute;
  left:1181px;
  top:823px;
  width:89px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2962 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:190px;
  height:73px;
}
#u2963 {
  position:absolute;
  left:1041px;
  top:702px;
  width:184px;
  height:67px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u2964 {
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:190px;
  height:73px;
}
#u2965 {
  position:absolute;
  left:1225px;
  top:702px;
  width:184px;
  height:67px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u2966 {
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  word-wrap:break-word;
}
#u2967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(21, 91, 255, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#155BFF;
}
#u2967 {
  position:absolute;
  left:1428px;
  top:754px;
  width:88px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#155BFF;
}
#u2968 {
  position:absolute;
  left:2px;
  top:18px;
  width:84px;
  word-wrap:break-word;
}
#u2969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(21, 91, 255, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#155BFF;
}
#u2969 {
  position:absolute;
  left:1428px;
  top:820px;
  width:88px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#155BFF;
}
#u2970 {
  position:absolute;
  left:2px;
  top:18px;
  width:84px;
  word-wrap:break-word;
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:21px;
}
#u2971 {
  position:absolute;
  left:1321px;
  top:618px;
  width:385px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2972 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u2973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 150, 225, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2973 {
  position:absolute;
  left:1523px;
  top:702px;
  width:60px;
  height:43px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2974 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2975 {
  position:absolute;
  left:1587px;
  top:702px;
  width:60px;
  height:43px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2976 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2977 {
  position:absolute;
  left:1651px;
  top:702px;
  width:60px;
  height:43px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2978 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u2979 {
  position:absolute;
  left:1587px;
  top:754px;
  width:60px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u2980 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2981 {
  position:absolute;
  left:1650px;
  top:754px;
  width:60px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2982 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 225, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0096E1;
}
#u2983 {
  position:absolute;
  left:1523px;
  top:754px;
  width:60px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0096E1;
}
#u2984 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u2985 {
  position:absolute;
  left:1587px;
  top:820px;
  width:60px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u2986 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2987 {
  position:absolute;
  left:1650px;
  top:820px;
  width:60px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2988 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 225, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  -webkit-box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  box-shadow:2px 2px 3px rgba(153, 153, 153, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0096E1;
}
#u2989 {
  position:absolute;
  left:1523px;
  top:820px;
  width:60px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0096E1;
}
#u2990 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2991 {
  position:absolute;
  left:1640px;
  top:662px;
  width:71px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2992 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u2993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:466px;
}
#u2993 {
  position:absolute;
  left:67px;
  top:52px;
  width:793px;
  height:466px;
}
#u2994 {
  position:absolute;
  left:2px;
  top:225px;
  width:789px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:27px;
}
#u2996 {
  position:absolute;
  left:315px;
  top:241px;
  width:339px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2997 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u2998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2998 {
  position:absolute;
  left:237px;
  top:224px;
  width:61px;
  height:61px;
}
#u2999 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3001 {
  position:absolute;
  left:586px;
  top:973px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3002 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u3003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3004 {
  position:absolute;
  left:586px;
  top:909px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3005 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3006_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:53px;
  height:53px;
}
#u3006 {
  position:absolute;
  left:595px;
  top:917px;
  width:43px;
  height:43px;
}
#u3007 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:140px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#33CC33;
}
#u3008 {
  position:absolute;
  left:1032px;
  top:899px;
  width:687px;
  height:140px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#33CC33;
}
#u3009 {
  position:absolute;
  left:2px;
  top:62px;
  width:683px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3010 {
  position:absolute;
  left:1382px;
  top:921px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3011 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#33CC33;
}
#u3012 {
  position:absolute;
  left:1041px;
  top:920px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#33CC33;
}
#u3013 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#33CC33;
}
#u3014 {
  position:absolute;
  left:1155px;
  top:921px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#33CC33;
}
#u3015 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FF0000;
}
#u3016 {
  position:absolute;
  left:1268px;
  top:922px;
  width:100px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#FF0000;
}
#u3017 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u3018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3018 {
  position:absolute;
  left:1651px;
  top:971px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3019 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3020 {
  position:absolute;
  left:1651px;
  top:906px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3021 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u3022_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:74px;
  height:74px;
}
#u3022 {
  position:absolute;
  left:1401px;
  top:939px;
  width:64px;
  height:64px;
}
#u3023 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3025 {
  position:absolute;
  left:1577px;
  top:971px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3026 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:53px;
  height:53px;
}
#u3027 {
  position:absolute;
  left:1586px;
  top:978px;
  width:43px;
  height:43px;
}
#u3028 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3030 {
  position:absolute;
  left:1577px;
  top:907px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3031 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u3032 {
  position:absolute;
  left:1656px;
  top:976px;
  width:50px;
  height:50px;
}
#u3033 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3035 {
  position:absolute;
  left:1501px;
  top:971px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3036 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u3037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  -webkit-box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  box-shadow:1px 1px 5px rgba(174, 174, 174, 1);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3038 {
  position:absolute;
  left:1501px;
  top:907px;
  width:60px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#33CC33;
}
#u3039 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:53px;
  height:53px;
}
#u3040 {
  position:absolute;
  left:1510px;
  top:915px;
  width:43px;
  height:43px;
}
#u3041 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3042 {
  position:absolute;
  left:128px;
  top:610px;
  width:40px;
  height:40px;
}
#u3043 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3044 {
  position:absolute;
  left:1041px;
  top:610px;
  width:40px;
  height:40px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 150, 225, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3046 {
  position:absolute;
  left:1097px;
  top:618px;
  width:94px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3047 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3048 {
  position:absolute;
  left:1587px;
  top:917px;
  width:40px;
  height:40px;
}
#u3049 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
