body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1097px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:632px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2571 {
  position:absolute;
  left:79px;
  top:48px;
  width:1018px;
  height:632px;
}
#u2572 {
  position:absolute;
  left:2px;
  top:308px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2573 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2574_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:245px;
  height:69px;
}
#u2574 {
  position:absolute;
  left:470px;
  top:478px;
  width:239px;
  height:63px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2575 {
  position:absolute;
  left:2px;
  top:18px;
  width:235px;
  word-wrap:break-word;
}
#u2576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u2576 {
  position:absolute;
  left:299px;
  top:160px;
  width:45px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u2577 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2578 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2579 {
  position:absolute;
  left:368px;
  top:241px;
  width:410px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2580 {
  position:absolute;
  left:2px;
  top:8px;
  width:406px;
  word-wrap:break-word;
}
#u2581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2581 {
  position:absolute;
  left:776px;
  top:241px;
  width:42px;
  height:42px;
}
#u2582 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u2583 {
  position:absolute;
  left:299px;
  top:247px;
  width:45px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u2584 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2586 {
  position:absolute;
  left:368px;
  top:157px;
  width:450px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2587 {
  position:absolute;
  left:2px;
  top:8px;
  width:446px;
  word-wrap:break-word;
}
#u2588 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(188, 188, 188, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2589 {
  position:absolute;
  left:368px;
  top:332px;
  width:410px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2590 {
  position:absolute;
  left:2px;
  top:8px;
  width:406px;
  word-wrap:break-word;
}
#u2591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2591 {
  position:absolute;
  left:776px;
  top:332px;
  width:42px;
  height:42px;
}
#u2592 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u2593 {
  position:absolute;
  left:299px;
  top:338px;
  width:45px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:center;
}
#u2594 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u2595 {
  position:absolute;
  left:91px;
  top:646px;
  width:86px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2596 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
